<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="userDAO" class="com.xt.dao.impl.UserDAOImpl">
   	<property name="daoId" value="8"></property>
  	<property name="daoStatus" value="good"></property>
  </bean>
	
  <bean id="userService" class="com.xt.service.UserService">
  	<!--  <property name="userDAO" ref="u" />-->
  	
  	<!-- 用构造方法注入到属性 userDao-->
  		<constructor-arg>
  	 		<ref bean="userDAO"/>
  	 	</constructor-arg>
 
  </bean>
  

</beans>