<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
		   http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
     <!--       
  <bean id="userDAO" class="com.xt.dao.impl.UserDAOImpl">
   	<property name="daoId" value="8"></property>
  	<property name="daoStatus" value="good"></property>
  </bean>
	-->
	 
   <!--  --> <context:annotation-config />   
   <context:component-scan base-package="com.xt.*" ></context:component-scan> 
   
   <!--
 <bean id="u" class="com.xt.dao.impl.UserDAOImpl">
 	<property name="daoId" value="8"></property>
  	<property name="daoStatus" value="good"></property>
  </bean>
  <bean id="u2" class="com.xt.dao.impl.UserDAOImpl">
  </bean> -->
         
<!--	       
  <bean id="userService" class="com.xt.service.UserService" >
  </bean> -->
  
  	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:jdbc.properties</value>
		</property>
	</bean>
	
	<bean id="dataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		
		<!--<property name="annotatedClasses">
			<list>
				<value>com.xt.model.User</value>
				<value>com.xt.model.Log</value>
			</list>
		</property>-->
		
		<property name="packagesToScan" value="com.xt.model"/> 
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>  <!-- 格式化sql语句 -->
	            <prop key="hibernate.hbm2ddl.auto">update</prop>  
			</props>
		</property>
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<tx:annotation-driven transaction-manager="txManager"/>
	

</beans>