<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
     <!--       
  <bean id="userDAO" class="com.xt.dao.impl.UserDAOImpl">
   	<property name="daoId" value="8"></property>
  	<property name="daoStatus" value="good"></property>
  </bean>
	-->
	 
   <!--  <context:annotation-config />    -->
   <context:component-scan base-package="com.xt.*" ></context:component-scan> 
   
 <bean id="u" class="com.xt.dao.impl.UserDAOImpl">
 	<property name="daoId" value="8"></property>
  	<property name="daoStatus" value="good"></property>
  </bean>
  
  <bean id="u2" class="com.xt.dao.impl.UserDAOImpl">
  </bean>        
<!-- -->	       
  <bean id="userService" class="com.xt.service.UserService" >
  
  </bean>
  

</beans>